@charset "utf-8";

:root {
    --app-dark-bg: #171A22;
    --app-light-bg: #1f232d;
}


* {
    margin: 0;
    padding: 0;
    outline: none;
    border-style: none;
    vertical-align: baseline;
    box-sizing: border-box;
}

.container {
    width: min(100% - 30px, 1080px);
    margin-inline: auto;
}

body {
    font-family: 'Nunito Sans', sans-serif;
    background-color: var(--app-dark-bg);
    min-height: 100vh;
}

header {
    height: 60px;
    width: 100%;
    background-color: var(--app-light-bg);
    color: #fff;
}